[project]
name = "gymnastics-judge-ai"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "matplotlib>=3.10.8",
    "mediapipe>=0.10.31",
    "opencv-python>=4.12.0.88",
]
